<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Machine Mother</title>
</head>
<body>
    <div class="container" id="outer-container">
        <div class="container" id="daily-container">
            <div>something</div>
        </div>
        <div class="container" id="week-container">
            <div>same here</div>
        </div>
        <div class="container" id="budget-container">
            <div class="container element" id="budget-element-title">Budget</div>
            <div class="container" id="daily-income">
                <div class="container element" id="daily-income-label">Daily Income</div>
                <div class="container element" id="daily-income-value" th:text="${sumOfDailyIncome}"></div>
            </div>
            <div class="container" id="daily-expenses">
                <div class="container element" id="daily-expenses-label">Daily Expenses</div>
                <div class="container element" id="daily-expenses-value" th:text="${sumOfDailyExpenses}"></div>
            </div>
            <div class="container" id="daily-balance">
                <div class="container element" id="daily-balance-label">Daily Balance</div>
                <div class="container element" id="daily-balance-value" th:text="${dailyBalance}"></div>
            </div>
            <div class="container" id="avg-expenses-per-day">
                <div class="container element" id="avg-expenses-per-day-label">Average Expenses/Day</div>
                <div class="container element" id="avg-expenses-per-day-value" th:text="${avgExpensesPerDay}"></div>
            </div>
            <div class="container" id="income-this-month">
                <div class="container element" id="income-this-month-label">This Month's Income</div>
                <div class="container element" id="income-this-month-value" th:text="${monthlyIncome}"></div>
            </div>
            <div class="container" id="expenses-this-month">
                <div class="container element" id="expenses-this-month-label">This Month's Expenses</div>
                <div class="container element" id="expenses-this-month-value" th:text="${monthlyExpenses}"></div>
            </div>
            <div class="container" id="monthly-balance">
                <div class="container element" id="monthly-balance-label">Monthly Balance</div>
                <div class="container element" id="monthly-balance-value" th:text="${monthlyBalance}"></div>
            </div>

            <div class="container element" id="budget-element-add-income">
                <a href="/add-new-income">
                    <button>Add income</button>
                </a>
            </div>
            <div class="container element" id="budget-element-add-expense">
                <a href="/add-new-expense">
                    <button>Add expense</button>
                </a>
            </div>
        </div>
        <div class="container" id="misc-container">
            <div></div>
        </div>
    </div>
</body>
</html>